body {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 24px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

.footer a,
.category a,
.list a {
  color: #6c6c6c;
}

.footer {
  height: 4vh;
  width: 100%;
  text-align: center;
  margin-top: 12px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list .list-item {
  display: flex;
  align-items: center;
  padding: 13px 0;
  border-bottom: 1px dashed #6c6c6c;
  justify-content: space-between;
  font-size: 20px;
}

.list .list-item .info {
  font-size: 16px;
}

.list .list-item .pin {
  margin-right: 8px;
  background-color: rgba(211, 211, 211, 0.774);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
}

.list .list-item .name {
  display: flex;
}

.list .list-item .name svg {
  margin-top: 1px;
}

.list .list-item .name a {
  margin-left: 8px;
}

@media (max-width: 375px) {
  .list .list-item {
    display: block;
    padding: 10px 0;
  }
  .list .list-item .info {
    margin-top: 5px;
    font-size: 12px;
  }
  .list .list-item .name {
    font-size: 16px;
  }
  .list .list-item .name svg {
    margin-top: 0;
  }
  .list .list-item .pin {
    font-size: 12px;
    padding: 0;
    background-color: transparent;
  }
}

.nav a,
.list .list-item a {
  text-decoration: none;
  color: #000;
}

.nav a:hover,
.list .list-item a:hover {
  color: #6c6c6c;
}

.nav a:hover,
.list .list-item a:visited {
  color: #6c6c6c;
}

.header {
  display: flex;
  justify-content: space-between;
}

.nav {
  font-size: 18px;
  margin-top: 5px;
}

.nav ul {
  list-style-type: none;
  display: flex;
}
.nav ul li {
  margin-left: 10px;
}

.category {
  margin: 22px 0;
  font-size: 14px;
  text-align: center;
}

.category a {
  margin-right: 8px;
}

.main {
  min-height: 75vh;
}

.markdown-body {
  margin-top: 16px;
  min-height: 85vh;
}
